<!-- Left Panel: Links and Descriptions -->
<div class="left-panel">
  <h1 class="text-3xl text-white pb-10">Tramontana Dash</h1>

  <div class="links text-white">
    <a href="https://quickbooks.com.au"
       class="bg-black p-3 m-1 rounded-sm"
       id="1">1. Quickbooks</a>
    
    <div class="description">Quickbooks Accounting / Payroll</div>
    
    <a href="https://reportcraft.tramontana.com.au"
       class="bg-black p-3 m-1 rounded-sm"
       id="2">2. Report Craft</a>
    
    <div class="description">Quickbooks Reports</div>
    
    <a href="http://pais.tramontana.com.au"
       class="bg-black p-3 m-1 rounded-sm"
       id="3">3. PAIS Legacy</a>
    
    <div class="description">PAIS text based Accounting System</div>
    
    <a href="https://qbpaislegacy.tramontana.com.au"
       class="bg-black p-3 m-1 rounded-sm"
       id="4">4. QB PAIS Legacy</a>
    
    <div class="description">Quickbooks to PAIS Legacy</div>
    
    <a href="https://xeropaislegacy.tramontana.com.au/"
       class="bg-black p-3 m-1 rounded-sm"
       id="5">5. Xero PAIS Legacy</a>
    
    <div class="description">Xero to PAIS Legacy</div>
    
    <a href="https://reports.tramontana.com.au/"
       class="bg-black p-3 m-1 rounded-sm"
       id="6">6. PAIS Legacy Reporting</a>
    
    <div class="description">Styled reports from PAIS Legacy</div>
    
    <a href="https://invoice.tramontana.com.au/"
       class="bg-black p-3 m-1 rounded-sm"
       id="7">7. PAIS Legacy Invoices</a>
    
    <div class="description">Styled invoices from PAIS Legacy</div>
    
    <a href="https://go.lodgeit.net.au/signin"
       class="bg-black p-3 m-1 rounded-sm"
       id="8">8. LodgeIT</a>
    
    <div class="description">Tax Software</div>
    
    <a href="https://secure.waive.com.au/login"
       class="bg-black p-3 m-1 rounded-sm"
       id="9">9. Waive</a>
    
    <div class="description">ASIC Software</div>

    <%= link_to "X. Log Out",
                session_path,
                {
                  id: 'x',
                  class: "bg-black p-3 m-1 rounded-sm",
                  "data-turbo-method": :delete
                } %>
        
    <div class="description">Logout of Dash</div>
    
    <!-- <a href="" id="0">0. </a>
         <div class="description"></div> -->
  </div>
</div>

<!-- Right Panel: Google Search, Clock, Weather -->
<div class="right-panel">
  <div class="logo">
    <img src="https://tramontana.com.au/letterhead_logo_big.png" alt="logo" width="130" />
  </div>

  <div class="search-container">
    <form action="https://www.google.com/search" method="get">
      <input class="search" type="text" name="q" placeholder="Google Search">
      <button class="btn-submit" type="submit">Search</button>
    </form>
  </div>
  
  <div class="clock" id="clock"></div>
</div>

<script>
 // Update Clock
 function updateClock() {
   const now = new Date();
   const timeString = now.toLocaleTimeString();
   document.getElementById('clock').innerText = timeString;
 }
 setInterval(updateClock, 1000);
 updateClock();

 // Hotkey function for links (1, 2, 3)
 document.addEventListener('keydown', function(event) {
   document.getElementById(event.key).click();
 });
</script>

